### Bài 3: Viết CT Python (ko dùng các hàm thư viện) để tính các ước lượng về độ biến thiên dữ liệu dân số và dữ liệu tội phạm của các bang nước Mỹ (dataset như BT 2) gồm: độ lệch chuẩn, IQR, và MAD

#### Đọc data

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('state.csv')

In [3]:
dataset

             State  Population  Murder.Rate Abbreviation
0          Alabama     4779736          5.7           AL
1           Alaska      710231          5.6           AK
2          Arizona     6392017          4.7           AZ
3         Arkansas     2915918          5.6           AR
4       California    37253956          4.4           CA
5         Colorado     5029196          2.8           CO
6      Connecticut     3574097          2.4           CT
7         Delaware      897934          5.8           DE
8          Florida    18801310          5.8           FL
9          Georgia     9687653          5.7           GA
10          Hawaii     1360301          1.8           HI
11           Idaho     1567582          2.0           ID
12        Illinois    12830632          5.3           IL
13         Indiana     6483802          5.0           IN
14            Iowa     3046355          1.9           IA
15          Kansas     2853118          3.1           KS
16        Kentucky     4339367          3.6           KY
17       Louisiana     4533372         10.3           LA
18           Maine     1328361          1.6           ME
19        Maryland     5773552          6.1           MD
20   Massachusetts     6547629          2.0           MA
21        Michigan     9883640          5.4           MI
22       Minnesota     5303925          1.6           MN
23     Mississippi     2967297          8.6           MS
24        Missouri     5988927          6.6           MO
25         Montana      989415          3.6           MT
26        Nebraska     1826341          2.9           NE
27          Nevada     2700551          6.0           NV
28   New Hampshire     1316470          0.9           NH
29      New Jersey     8791894          3.9           NJ
30      New Mexico     2059179          4.8           NM
31        New York    19378102          3.1           NY
32  North Carolina     9535483          5.1           NC
33    North Dakota      672591          3.0           ND
34            Ohio    11536504          4.0           OH
35        Oklahoma     3751351          4.5           OK
36          Oregon     3831074          2.0           OR
37    Pennsylvania    12702379          4.8           PA
38    Rhode Island     1052567          2.4           RI
39  South Carolina     4625364          6.4           SC
40    South Dakota      814180          2.3           SD
41       Tennessee     6346105          5.7           TN
42           Texas    25145561          4.4           TX
43            Utah     2763885          2.3           UT
44         Vermont      625741          1.6           VT
45        Virginia     8001024          4.1           VA
46      Washington     6724540          2.5           WA
47   West Virginia     1852994          4.0           WV
48       Wisconsin     5686986          2.9           WI
49         Wyoming      563626          2.7           WY

#### Dân số

In [72]:
pop = dataset['Population'].to_numpy()

##### Độ lệch chuẩn

In [70]:
import numpy as np
def std(data):
    data = np.array(data)
    data_count = len(data)
    data_sum = 0
    for i in range(len(data)):
        data_sum += data[i]
    data_mean = data_sum/data_count
    data_sum_sq = 0
    for d in data:
        data_sum_sq += pow(d-data_mean,2)
    data_std = pow(data_sum_sq/data_count,0.5)
    return data_std

In [73]:

pop_std = std(pop)
pop_std

6779407.114632265

##### IQR

In [64]:
def percentile(data, p):
    data = np.sort(data)
    if len(data)%2 == 0:
        w = 0.5
        j = int(len(data)*p/100)
        res = (1-w)*data[j] + w*data[j+1]
        return res
    else:
        j = int(len(data)*p/100)
        return data[j]

In [75]:
def IQR(data):
    q1 = percentile(data, 25)
    q3 = percentile(data, 75)
    return q3-q1

In [77]:
pop_IQR = IQR(pop)
pop_IQR

5523114.5

##### MAD

In [82]:
def MAD(data):
    ad = []
    for p in data:
        ad.append(abs(p-np.mean(data)))
    return percentile(ad, 50)

In [83]:
pop_MAD = MAD(pop)
pop_MAD

3493551.0

#### Tội phạm

In [84]:
mr = dataset['Murder.Rate'].to_numpy()

##### Độ lệch chuẩn

In [85]:
mr_std = std(mr)
mr_std

1.8964820062420842

##### IQR

In [87]:
mr_IQR = IQR(mr)
mr_IQR

3.1499999999999995

##### MAD

In [89]:
mr_MAD = MAD(mr)
mr_MAD

1.6

### Bài 4: Viết CT Python (ko dùng các hàm thư viện) để tính Frequency Table với 10 và 20 đoạn (bin) của dân số các bang nước Mỹ (dataset như BT 2). So sánh kết quả trong 2 trường hợp.

In [98]:
def freq_table(data, num_bins):
    data_min = np.min(data)
    data_max = np.max(data)
    bin_size = (data_max - data_min)/num_bins
    bins = np.zeros(num_bins+1)
    bins[0] = data_min
    for i in range(1, num_bins+1):
        bins[i] = bins[i-1] + bin_size
    counts = np.zeros(num_bins)
    for d in data:
        # if d equal data_max then bin_index would be equal to num_bins
        bin_index = int((d-data_min)/bin_size)
        if bin_index == num_bins:
            counts[-1] += 1
        else:
            counts[bin_index] +=1
    freq_table = {}
    for i in range(num_bins):
        bin_label = f"{bins[i]:.1f}-{bins[i+1]:.1f}"
        freq_table[i] = (bin_label, int(counts[i]))
    return freq_table

In [101]:
fq1 = freq_table(pop, 10)
fq2 = freq_table(pop, 20)
fq1 = pd.DataFrame.from_dict(fq1, orient='index', columns=['BinRange', 'Count'])
fq2 = pd.DataFrame.from_dict(fq2, orient='index', columns=['BinRange', 'Count'])

In [102]:
fq1

                BinRange  Count
0     563626.0-4232659.0     24
1    4232659.0-7901692.0     14
2   7901692.0-11570725.0      6
3  11570725.0-15239758.0      2
4  15239758.0-18908791.0      1
5  18908791.0-22577824.0      1
6  22577824.0-26246857.0      1
7  26246857.0-29915890.0      0
8  29915890.0-33584923.0      0
9  33584923.0-37253956.0      1

In [103]:
fq2

                 BinRange  Count
0      563626.0-2398142.5     15
1     2398142.5-4232659.0      9
2     4232659.0-6067175.5      9
3     6067175.5-7901692.0      5
4     7901692.0-9736208.5      4
5    9736208.5-11570725.0      2
6   11570725.0-13405241.5      2
7   13405241.5-15239758.0      0
8   15239758.0-17074274.5      0
9   17074274.5-18908791.0      1
10  18908791.0-20743307.5      1
11  20743307.5-22577824.0      0
12  22577824.0-24412340.5      0
13  24412340.5-26246857.0      1
14  26246857.0-28081373.5      0
15  28081373.5-29915890.0      0
16  29915890.0-31750406.5      0
17  31750406.5-33584923.0      0
18  33584923.0-35419439.5      0
19  35419439.5-37253956.0      1